@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import 'variables';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'utils';
@import 'navbar';
@import 'blockquote';
@import 'hero';
@import 'code';
@import 'forms';
@import 'cards';
@import 'modals';


*, *::before, *::after
  box-sizing: inherit

// Remove focus highlighting on Chrome and other browsers
*:focus
  outline: none

html
  box-sizing: border-box
  font-size: 62.5%
  
body
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  padding: 0
  margin: 0
  background: var(--bg-color)
  color: var(--text-color)
  font-size: 1.6em
  font-weight: 300
  letter-spacing: .01em
  line-height: 1.6
  word-wrap: break-word
  scroll-behavior: smooth
  transition: all 0.8s
  