.btn
  padding: 1rem 1.5rem
  color: $text-dark
  cursor: pointer
  font-weight: 700
  border-radius: 5px
  border-color: transparent
  text-decoration: none

.btn-rounded
  border-radius: 30px

.btn-lg
  padding: 1rem 2.5rem
  font-size: 1.1rem

.btn-block
  width: 100%

.btn-link
  background-color: transparent !important
  color: inherit

// Blue Button
.btn-blue
  background: var(--blue)
  border: 0.5px solid var(--blue)

  &:hover
    background: var(--blue-hover)
    border: 0.5px solid var(--blue-hover)

// Green Button
.btn-green
  background: var(--green)
  border: 0.5px solid var(--green)

  &:hover
    background: var(--green-hover)
    border: 0.5px solid var(--green-hover)

// Indigo
.btn-indigo
  background: var(--indigo)
  border: 0.5px solid var(--indigo)

  &:hover
    background: var(--indigo-hover)
    border: 0.5px solid var(--indigo-hover)

// Orange
.btn-orange
  background: var(--orange)
  border: 0.5px solid var(--orange)

  &:hover
    background: var(--orange-hover)
    border: 0.5px solid var(--orange-hover)

// Pink
.btn-pink
  background: var(--pink)
  border: 0.5px solid var(--pink)

  &:hover
    background: var(--pink-hover)
    border: 0.5px solid var(--pink-hover)

// Purple
.btn-purple
  background: var(--purple)
  border: 0.5px solid var(--purple)

  &:hover
    background: var(--purple-hover)
    border: 0.5px solid var(--purple-hover)


// Red
.btn-red
  background: var(--red)
  border: 0.5px solid var(--red)

  &:hover
    background: var(--red-hover)
    border: 0.5px solid var(--red-hover)

// Teal
.btn-teal
  background: var(--teal)
  border: 0.5px solid var(--teal)

  &:hover
    background: var(--teal-hover)
    border: 0.5px solid var(--teal-hover)


// Yellow
.btn-yellow
  background: var(--yellow)
  border: 0.5px solid var(--yellow)

  &:hover
    background: var(--yellow-hover)
    border: 0.5px solid var(--yellow-hover)

.btn-dark
  background: var(--dark)
  border: 0.5px solid var(--dark)

  &:hover
    background: var(--dark-hover)
    border: 0.5px solid var(--dark-hover)

button:disabled
  opacity: .8
  color: white
  border: unset
  background: grey

  &:hover
    background: grey
    border: unset