.btn
  padding: 1rem 1.5rem
  color: #fff
  cursor: pointer
  font-weight: 700
  border-radius: 5px
  border-color: transparent
  text-decoration: none

.btn-rounded
  border-radius: 30px

.btn-link
  background-color: transparent !important
  color: inherit

.btn-primary
  background: #54a0ff
  border: 0.5px solid #54a0ff

  &:hover
    background: #2e86de

.btn-secondary
  background: #8395a7

  &:hover
    background: #576574

.btn-success
  background: #1dd1a1

  &:hover
    background: #10ac84

.btn-danger
  background: #ff6b6b

  &:hover
    background: #ee5253

.btn-warning
  background: #feca57

  &:hover
    background: #ff9f43

.btn-info
  background: #5f27cd

  &:hover
    background: #341f97

.btn-dark
  background: #222f3e

  &:hover
    background: #141b24

button:disabled
  opacity: .8
  color: white
  border: unset
  background: grey

  &:hover
    background: grey