.card
  width: 100%
  margin: auto auto
  border: 0.1rem solid hsl(0, 0%, var(--lightness-hsl))

  .card-body
    padding: 4rem 2rem
    background: var(--bg-color)
    color: var(--text-color)

    img
      width: 100%

.card-hover

  &:hover
    box-shadow: 0 4px 8px 0 hsl(0, 0%, var(--lightness-hsl))
    transition: 0.3s