.card
  width: 100%
  margin: auto auto
  text-align: center
  border: 0.5rem var(--hover-color)

  .card-body
    padding: 4rem 2rem
    background: white

    img
      width: 100%

.card-hover

  &:hover
    box-shadow: 0px 0px 10px 0px var(--hover-color)
    transform: translateY(-2px)