/* I like my header texts with a smaller font weight:  */

h1, h2, h3, h4, h5, h6
  font-weight: 100

/* center, left and right align:  */

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-muted
  color: grey

/* Larger p element for "leading" text */

.lead
  font-size: 1.2em

.display-1
  font-size: 6rem
  font-weight: 100
  line-height: 1.2

.display-2
  font-size: 5.5rem
  font-weight: 100
  line-height: 1.2

.display-3
  font-size: 4.5rem
  font-weight: 100
  line-height: 1.2

.display-4
  font-size: 3.5rem
  font-weight: 100
  line-height: 1.2

.display-5
  font-size: 2.5rem
  font-weight: 100
  line-height: 1.2

.display-6
  font-size: 2rem
  font-weight: 100
  line-height: 1.2

a
  color: var(--text-color)