
// Light Color
$bg-light: #FAFAFA
$text-light: #000
$blue-light: #007AFF
$green-light: #34C759
$indigo-light: #5856D6
$orange-light: #FF9500
$pink-light: #FF2D55
$purple-light: #AF52DE
$red-light: #FF3B30
$teal-light: #5AC8FA
$yellow-light: #FFCC00



\:root
  --bg-color: #{$bg-light}
  --text-color: #{$text-light}
  --blue: #{$blue-light}
  --green: #{$green-light}
  --indigo: #{$indigo-light}
  --orange: #{$orange-light}
  --pink: #{$pink-light}
  --purple: #{$purple-light}
  --red: #{$red-light}
  --teal: #{$teal-light}
  --yellow: #{$yellow-light}



// Dark Color
$bg-dark: #000
$text-dark: #fff
$blue-dark: #0A84FF
$green-dark: #30D158
$indigo-dark: #5856D6
$orange-dark: #FF9F0A
$pink-dark: #FF375F
$purple-dark: #BF5AF2
$red-dark: #FF453A
$teal-dark: #64D2FF
$yellow-dark: #FFD60A

[data-theme="dark"]
  --bg-color: #{$bg-dark}
  --text-color: #{$text-dark}
  --blue: #{$blue-dark}
  --green: #{$green-dark}
  --indigo: #{$indigo-dark}
  --orange: #{$orange-dark}
  --pink: #{$pink-dark}
  --purple: #{$purple-dark}
  --red: #{$red-dark}
  --teal: #{$teal-dark}
  --yellow: #{$yellow-dark}


